body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    color: black;
    margin: 0;
    padding: 20px;
}


h1 {
    text-align: center;
}


.controls {
    display: flex;
    flex-direction: row; /* Gumbi jedan ispod drugog */
    align-items: center;    /* centriramo sve gumbe */
    margin-bottom: 20px;
    
}


.big-button {
    padding: 12px 20px;
    font-size: 16px;
    margin-bottom: 10px;  /* razmak između gumba */
    cursor: pointer;
    width: 100px;          /* svi gumbi iste širine */
    text-align: center;
    border-radius: 8px;
    background-color: #2f2483;
    color: white;
    border: none;
    box-shadow: 0 2px 10px rgba(47, 36, 131, 0.5); /* blagi sjaj */
}

.big-button:hover {
    background-color: #4a3ba8;
}

.allsort-button {
    padding: 12px 20px;
    font-size: 16px;
    margin-bottom: 10px;  /* razmak između gumba */
    cursor: pointer;
    width: 300px;          /* svi gumbi iste širine */
    text-align: center;
    border-radius: 8px;
    background-color: #2f2483;
    color: white;
    border: none;
    box-shadow: 0 2px 10px rgba(47, 36, 131, 0.5); /* blagi sjaj */
}

.allsort-button:hover {
    background-color: #4a3ba8;
}


.visualizations {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}


.viz {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #2f2483;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(47, 36, 131, 0.5); /* blagi sjaj */
}


canvas {
    background-color: white;
    padding: 2px;
}


.buttons {
    display: flex;
    gap: 5px;
    margin-top: 10px;
}


button.single, button.generate {
    padding: 6px 10px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    background-color: #2f2483;
    color: white;
    border: none;
}

button.single:hover, button.generate:hover {
    background-color: #4a3ba8;
}


.message {
    margin-top: 8px;
    font-size: 14px;
    color: #2f2483;
}


header {
    display: flex;
    align-items: center;
    gap: 20px; /* razmak između loga i teksta */
    margin-bottom: 30px;
}


header .logo {
    width: 80px; /* prilagodi veličinu loga */
    height: auto;
}


header .header-text h1 {
    margin: 0;
    font-size: 24px;
    color: #2f2483;
}


header .header-text p {
    margin: 2px 0;
    font-size: 14px;
    color: #333;
}



.container {
    border: 2px solid #2f2483;
    padding: 20px;
    max-width: 1000px; /* po želji */
    width: 90%; /* da se smanjuje proporcionalno veličini ekrana */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center; /* centrira sav sadržaj */
}
